<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="#" class="navbar-brand">Олимпиада<b> Можайского</b></a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
</button>
    <!-- Collection of nav links, forms, and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
        <div class="navbar-nav">
            <a href="#" class="nav-item nav-link active">Соревнование</a>
            <a href="#" class="nav-item nav-link active">Об академии</a>
            <a href="#" class="nav-item nav-link active">Факультеты</a>
            <a href="#" class="nav-item nav-link active">Результаты</a>
        </div>

    </div>
</nav>